{{ define "main" }}

<div class="text-justify">{{ .Content }}</div>

<div class="row">
  
  {{ range .Site.Data.projects }}
  <div class="row myflex">
    <div class="col-sm-4 text-center my-auto">
      <img src="img/{{ .img }}" alt="{{ .img }}" style="padding:16px;">
    </div>
    <div class="col-sm-8">
      <h2>{{ .title }}</h2>
      <i class="fa fa-users" aria-hidden="true"></i> &nbsp;&nbsp; {{ range $auth := .members }} {{ $info := index $.Site.Data.members $auth }} <a href="/members/">{{ $info.given_name }} {{ $info.family_name }}</a> &nbsp;
      {{ end }}
      <br>
      {{ .text }}
      <br><br>
    </div>
  </div>
  {{ end }}


  {{ end }}