{{ partial "header" . }}

<img class="banner" src="img/banner.jpg"></img>

  <div class="container">
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-6">

        <div class="text-justify">{{ .Content }}</div>
      </div>
      <div class="col-sm-4">
        <a class="twitter-timeline"  href="https://twitter.com/mccannlab" data-width="400" data-height="800" data-chrome="nofooter noborders hoheader"> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
          Tweets by @mccannlab
        </a>
      </div>
    </div>
  </div>

{{ partial "footer" . }}
